*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* start navbar section  */

nav{
    background-color: hwb(0 100% 0%);
    box-shadow: 1px 2px whitesmoke;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav__container{
    padding-right: 80px;
    padding-left: 80px;
 }
 .nav___list img{
    margin-top: 10px;
   width: 100%;
}
.nav___list p{
    font-size: 34px;
    font-weight: bold;
    margin-left: 10px;
}
.nav___list span{
   color: violet;
}
 .nav__container .nav___list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__container .nav___list li {
   list-style-type: none;
   margin-left: 10px; 
  
}
.nav__container .nav___list li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #161414;
    transition: all 1s;
   
 }

 .nav__container .nav___list li a:hover {
    color: rgb(190, 4, 76);
   
 }

 .nav__container .nav___list li a button{
    background-color: gray;
    margin-left: 10px;
    width: 140px;
    padding: 0px 8px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 2s ease-in-out;
}
.nav__container .nav___list li a button:hover{
    background-color: rgb(245, 110, 155);
    color: #ffff;
}



/*==================== end start navbar section ========================== */

/* ============= start banner section area =======================*/

.banner__container__section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    flex-direction: column;
 }

.banner__container{
  display: flex;
  justify-content: space-around;;
  align-items: center;
}
.banner__box{
  width: 50%;
}

.banner__box p{
  font-size:30px;
}

.banner__box h3{
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900rem;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(231, 15, 148) , rgb(132, 8, 148));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.banner__box ul li {
  list-style-type: none;
}

.btn__flex{
  display: flex;
  gap: 10px;
}

.btn__hero {
  background-color: rgb(236, 93, 172);
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 20px;
  color: #ffff;
  transition: all 3s ease-in-out;

}
.btn__hero {
  background-color: rgb(236, 93, 172);
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 20px;
  color: #ffff;
  transition: all 3s ease-in-out;

}
.btn__hero:hover{
  background-color: rgb(13, 153, 153);
}
.btn__heros {
  background-color: rgb(13, 153, 153);
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 20px;
  color: #ffff;
  transition: all 3s ease-in-out;
}
.btn__heros:hover{
  background-color: rgb(236, 93, 172);
}


.banner__box img{
  width: 500px;
}
/*======================= banner end design====================================== */















/*================ number 3 game section area start ========== 
.================*/
.game__main__container{
   margin-top: 40px;
   display: flex;
   justify-self: center;
   flex-direction: column;
   margin-right: 80px;
   margin-left: 60px;
}
.game__text{
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
}
.game__text h3{
  font-size: 32px;
}

.game__text span{
    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.game__container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}

#opacity{
  opacity: 2.0;
  
}


#opacity:hover {
  opacity: 0.5;
}

.bg-1{
  background-image: url('/images//Rectangle\ 5.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.bg-2{
  background-image: url('/images//Rectangle\ 7.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.bg-3{
  background-image: url('/images//Rectangle\ 4.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.bg-4{
  background-image: url('/images//Rectangle\ 6.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.game__box{
	position:relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
}
.video__btn{
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
}
.video__btn{
	position: absolute;
    z-index: 2;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.video__btn i{
  font-size: 30px;
}
.game__box:hover{
  border: 3px solid rgb(238, 31, 186);
  border-radius: 10px;
}
.game__box:hover .video__btn{ 
	display:block;
}

#text{
  margin-top: 10px;
  font-size: 16px;
}
/* end game 4 img section are */



/* start  section number 4 play instantly downloads 
  */ 
.high___container{
  
   width: 1250px;
   height: 600px;
   margin-inline: auto;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.text__high{
  font-size: 28px;
  text-align: right;
  margin-left: 20px;
 }

 .instant__text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.text_content{
  text-align: right;
  padding: 20px;
}
.instant__container{
   display: flex;
   gap: 100px;
   justify-content: space-around;
   align-items: center;
}

#instant__img{
  background-image: url('/images/Rectangle\ 55.png');
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 634px;
  height: 450px;
  position: relative;
}
.instant__mini img{
  width: 200px;
}
.instant__mini{
  position: absolute;
  bottom: -20%;
  left: -16%;
}


/* section number 5  action component*/

.action___container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.action__box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}




/* media screen=================================responsive===================================================  */

@media screen and (max-width: 480px) {

  /* 1 one section start header section area */
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .nav__container{
        padding-right: 80px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
     }
     .nav___list div img{
        margin-top: 10px;
        width: 100%;
     }


       /* end header section area */

       /* number 2 section banner container  section area*/

     .banner__container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
    .banner__box{
      width: 100%;
      padding: 20px;
    }
    .banner__box img{
      width: 100%;
      margin-top: 50%;
    }


    /* banner section area end */



    /* number 3 section  game section area  */
    .game__container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    
    }
    #text{
      font-size: x-small;
      margin-left: 10px;
    }
    /* end game section area */
    .high___container{
      width: 100%;
    }
    .instant__container{
      display: flex;
      gap: 40px;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
   }


  #instant__img{
    width: 100%;
    position: relative;
  }
  .instant__mini img{
    width:100%;
    margin-left: 10px;
  }




    /*  */
  
  }


  @media screen and (max-width: 768px) {
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .nav__container{
        padding-right: 80px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
     }
     .nav___list img{
        margin-top: 10px;
        width: 100%;
     }
     .nav___list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  
    .nav__container .nav___list li a{
      color: black;
    }
 
  
  
  }

/* start navbar section  end */
 
